.sidebar{
    position: fixed;
    grid-column: 1;
    width: 20%;
    height: 100vh;
    background-color: var(--third-color);
    text-align: center;
}
.sidebar li{
    padding: 0px;
    height: 25vh;
    font-size: 2vw;
    font-family: var(--application-font);
    border: 0px;
    background-color: var(--second-color);
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.sidebar li:hover{
    transition: all 0.1s;
    transform: scale(1.08);
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar .nav-link{
    text-decoration: none;
    color: var(--prim-color);
}
.nav-link-logout{
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--third-color);
    width: 18vw;
    height: 6vh;
    margin-top: 0vh;
    font-size: 1.8vw;
}
.sidebar .logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .brand{
    color: white;
    font-size: 1.4vw;
    font-family: var(--application-font);
    padding-bottom: 0vh;
}

.icons{
    height: 70%;
    align-self: center;
    
    /*height: 60%;*/
}
.icon-label{
    padding: 0px;
    margin: 0px;
    color: var(--prim-color);
}