.bug-create{
    width: 65vw;
    height: 60vh;
    background-color: var(--prim-color);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 14vh;
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    padding: 1% 5%;
}

.bug-create h1{
    min-width: 100%;
    text-align: center;
    font-size: 6vh;
    padding: 0px;
    margin-top: 0vh;
    margin-bottom: 1vh;
    /*border-bottom: 2px groove  var(--second-color);*/
    font-family: var(--application-font);
}

.bug-create form{
    min-width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    row-gap: 2vh;
}
.bug-create label{
    text-align: right;
    font-size: 3vh;
    font-family: var(--application-font);
}
.bug-create input, textarea, select{
    border-radius: 5px;
    border: none;
    font-family: var(--application-font);
    font-size: 3vh;
    padding: 0px;
    padding-left: 10px;
}
.bug-create button{
    grid-column: 2;
    font-family: var(--application-font);
}