.dashboard-card{
    border-radius: 10px;
    background-color: var(--prim-color);
    /*min-width: 275px;
    min-height: 200px;*/
    width: 23vw;
    height: 40vh;
    margin: 1vh;
    margin-top: 16vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 3vh;
    box-shadow: 2px 2px 2px 2px var(--prim-color);
    font-family: var(--application-font);
}
.dashboard-card:hover{
    transition: all 0.3s;
    transform: scale(1.05);
}

.dashboard-card h2{
    width: 100%;
    font-size: 8vh;
    margin-top: 0vh;
    margin-bottom: 1vh;
}
.dashboard-card h3{
    width: 100%;
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.dashboard-card p{
    font-size: 1.5rem;
    font-size: 8vh;
    margin: 0px;

}