.bug-card{
    background-color: var(--prim-color);
    box-shadow: 2px 2px 2px var(--prim-color);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    font-family: var(--application-font);
    width: 18vw;
    height: 25vh;
}

.bug-card:hover{
    transition: all 0.3s;
    transform: scale(1.05);
}